/*!
Theme Name: crate
Theme URI: http://underscores.me/
Author: Phuc
Author URI: http://phuc.at
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: crate
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

crate is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.
*/

.youtube__container {
    display: block;
    width: 100%;
}

.youtube {
	position: relative;
	padding-bottom: 56.5%;
	overflow: hidden;
	height: 0;
    width: 100%;
}

.youtube iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

img {
	max-width: 100%;
	height: auto;
}

/*------------------------------------*\
    $ADMIN MENU
\*------------------------------------*/
.menubutton {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    z-index: 8000;
    background-color: white;
    box-shadow: 0 0 1px black;
    display: flex;
    align-items: center;
    font-size: 1.5em;

    transition: left .3s ease-in-out;
}

.menubutton__input {
    display: none;
}

.admin-sidebar {
    position: fixed;
    top: 30px;
    left: -40%;
    width: 40%;
    padding: 20px;
    overflow: scroll;
    height: calc(100% - 30px);
    background-color: white;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    z-index: 20000;

    transition: left .3s ease-in-out;
}

.admin-sidebar,
.admin-sidebar input,
.admin-sidebar textarea,
.admin-sidebar select
 {
    font-size: .8em !important;
}

/* show content when menubutton clicked */
.menubutton__input:checked ~ .admincontainer .admin-sidebar {
    left: 0;
}

.admincontainer {
    transition: width .3s ease-in-out, margin-left .3s ease-in-out;
}

.menubutton__input:checked ~ .admincontainer {
    margin-left: 40%;
}


.menubutton__input:checked ~ .menubutton {
    left: 40%;
}


.acf-row {
    border-bottom: #CCC solid 2px;
}

/* IMAGE ALIGNMENT */
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

/*.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}*/

/*.container:before,
.container:after {
    content: "";
    display: table;
    table-layout: fixed;
}

.container:after {
    clear: both;
}*/


/* JOBS */
#grnhse_app .row {
    width: 100%;
}

#grnhse_app .col-xs-12 {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
}

.cr-offer {
    margin-bottom: 2rem;
}

.cr-department {
    margin-bottom: 10px;
    margin-top: 2rem;
}

.cr-offer a {
    font-weight: bold;
}

@media (min-width: 768px) {
    .cr-section-footer .nav-link {
        color: #000;
        padding: .5rem 0 .5rem 0;
    }
}

/* SVG FIX */
.img-fluid {
    width: auto;
}

/*------------------------------------*\
    $STYLED SELECT BOX
\*------------------------------------*/
.styled-select {
    /*overflow: hidden;*/
    background-color: #E4F9FE;
    border-radius: 20px;
    padding-left: .5rem;
    padding-right: .5rem;
    padding-bottom: .0125rem;
    
}
.styled-select select {
    background-color: transparent;
    border: none;

    /*padding: 0.5rem 1rem;*/
    font-size: 0.7rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;

    outline: none;
}

/*------------------------------------*\
    $PAGINATION fix for Events
\*------------------------------------*/
.list-inline-item a {
    display: block;
}

/*------------------------------------*\
    $FIX FEATURE LIST TOP IMAGE
\*------------------------------------*/
.feature-image-top {
    text-align: center;
    
}

.feature-image-top img {
    max-width: 150px;
}

#tribe-events-footer ~ .tribe-events-ical.tribe-events-button {
    display: none !important;
}

.tribe-events-list .type-tribe_events {
    border-bottom: 0;
    padding: unset;
}

.cr-navtoggle {
    display: block;
}



/*------------------------------------*\
    $Reduce Footer Size by decreasing font size
\*------------------------------------*/
.footer .nav-link,
.footer .h6 {
    font-size: .875rem;
}

li.cr-nav-github {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/*------------------------------------*\
    Cookie Bar
\*------------------------------------*/
#cookie-law-bar {
    text-align: left;
    padding-right: 192px;
    padding-top: 10px;
    padding-bottom: 10px;
}


#cookie-law-bar a {
    text-decoration: underline;
    color: #ababab;
}

#cookie-law-bar a:hover {
    text-decoration: none;
}

#cookie-law-bar #cookie-law-btn {
    padding: 0em 4em;
    font-size: .9em;
    font-weight: 700;
    border-width: 2px;
    border-style: solid;
    text-align: center;
    white-space: nowrap;
    max-width: none;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 42px;
}

#cookie-law-bar #cookie-law-btn:hover {
    background-color: #55d4f5;
}


#cloud .mktoForm div, #cloud .mktoForm span,  #cloud.mktoForm label, #cloud .mktoForm p {
    color: white !important;
}


.marketofallback {
    display: none;
}



.no_margin + .cr-section-content {
    margin-top: -3rem !important;
}


.aligncenter {
    display: block;
    margin: 0 auto;
}

.alignright {
    display: block;
    margin-left: auto;
    margin-right: 0;
}